<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test wechat</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>


    <script>
        $(document).ready(function(){
            $("button").click(function () {

                window.location.replace("https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx4710e5f39c19f59a&redirect_uri=http://lc.imcbb.com&response_type=code&scope=snsapi_base&state=123#wechat_redirect");

            });
        });
    </script>

</head>
<body>
<button>点击跳转微信授权</button>
</body>
</html>