<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test wechat</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>


    <script>

        function getParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substring(1).match(reg);
            return unescape(r[2]);
        }

        $(document).ready(function(){

            var code = getParam('code');
            $("#code").html(code);

        });


    </script>

</head>
<body>
<h2>业务二</h2>
<p >Code is: <label id="code"></label></p>
</body>
</html>