<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test wechat</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>


    <script>
        $(document).ready(function(){

            function getParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substring(1).match(reg);
                return unescape(r[2]);
            }

            $("button").click(function () {

                var redirectUrl = encodeURIComponent("http://lc.imcbb.com/jump");
                var distUrl = getParam('distUrl');

                window.location.replace("https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx4710e5f39c19f59a&redirect_uri="
                    + redirectUrl
                    + "&response_type=code&scope=snsapi_base&state="
                    + distUrl
                    + "#wechat_redirect");
            });
        });
    </script>

</head>
<body>
<button>点击跳转微信授权</button>
</body>
</html>